body {
    background: white;
    color: black;
}

body.winner {
    background-color: rgb(225, 225, 255);
}

button {
    border: 1px solid grey;
    background: #ebebeb;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background: #cdcdcd;
}

button.active {
    background: #ffe3a6;
}

button.active:hover {
    background: #fac34b;
}

#bingo {
    margin: 0 auto;
    width: 651px;
}

.commands {
    display: flex;
    justify-content: space-between;
}

#header span, #footer span {
    display: inline-block;
    width: 129px;
    font-size: 50px;
    text-align: center;
}

#items {
    display: grid;
    grid-template-columns: 129px 129px 129px 129px 129px;
    grid-template-rows: 129px 129px 129px 129px 129px;
    gap: 1px;
    padding: 1px;
    background: black;
}

#items span {
    position: relative;
}

#items span.active::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 255, 0.35);
}

.center {
    text-align: center;
}